<!-- diary/templates/diary/add_travel.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить путешествие</title>
</head>
<body>
    <h1>Добавить путешествие</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'index' %}">Назад на главную</a>
</body>
</html>
